swagger: "2.0"
info:
  description: "Octo API"
  version: "1.0.0"
  title: "Octo API"
host: "api.botgate.cn"
tags:
  - name: "robot"
    description: "机器人"
  - name: "digital-avatar"
    description: "组织管理的数字分身（robot.kind=avatar）"
schemes:
  - "https"
basePath: "/v1"

paths:
  /manager/avatars:
    get:
      tags: ["digital-avatar"]
      summary: "列出管理范围内的数字分身"
      parameters:
        - {in: query, name: scope, type: string, required: true, enum: [platform, space]}
        - {in: query, name: space_id, type: string, required: false}
      responses:
        200:
          description: "数字分身列表"
          schema: {type: array, items: {$ref: "#/definitions/digitalAvatar"}}
        400: {description: "统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]
    post:
      tags: ["digital-avatar"]
      summary: "创建数字分身"
      description: "platform 仅 superAdmin；space 允许该 Space 的 owner/admin。创建结果为 draft。"
      parameters:
        - in: body
          name: data
          required: true
          schema: {$ref: "#/definitions/digitalAvatarCreate"}
      responses:
        200:
          description: "创建结果；bot_token 仅在受管理者保护的响应中返回"
          schema: {$ref: "#/definitions/digitalAvatarCredential"}
        400: {description: "统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]

  /manager/avatars/{robot_id}:
    parameters:
      - {in: path, name: robot_id, type: string, required: true}
    get:
      tags: ["digital-avatar"]
      summary: "读取数字分身详情"
      responses:
        200: {description: "数字分身详情", schema: {$ref: "#/definitions/digitalAvatar"}}
        400: {description: "统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]
    put:
      tags: ["digital-avatar"]
      summary: "更新数字分身名称或描述"
      parameters:
        - in: body
          name: data
          required: true
          schema: {$ref: "#/definitions/digitalAvatarUpdate"}
      responses:
        200: {description: "成功", schema: {$ref: "#/definitions/response"}}
        400: {description: "统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]
    delete:
      tags: ["digital-avatar"]
      summary: "永久删除数字分身并启动可重试清理"
      responses:
        200: {description: "权限已撤销；外部清理由持久任务收敛", schema: {$ref: "#/definitions/response"}}
        400: {description: "统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]

  /manager/avatars/{robot_id}/publish:
    post:
      tags: ["digital-avatar"]
      summary: "发布数字分身"
      parameters: [{in: path, name: robot_id, type: string, required: true}]
      responses:
        200: {description: "成功", schema: {$ref: "#/definitions/response"}}
        400: {description: "统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]

  /manager/avatars/{robot_id}/unpublish:
    post:
      tags: ["digital-avatar"]
      summary: "下架数字分身并启动可重试清理"
      parameters: [{in: path, name: robot_id, type: string, required: true}]
      responses:
        200: {description: "本地权限与旧 token 已立即撤销", schema: {$ref: "#/definitions/response"}}
        400: {description: "统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]

  /manager/avatars/{robot_id}/token:
    get:
      tags: ["digital-avatar"]
      summary: "读取数字分身 Bot token"
      parameters: [{in: path, name: robot_id, type: string, required: true}]
      responses:
        200: {description: "凭据", schema: {$ref: "#/definitions/digitalAvatarToken"}}
        400: {description: "统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]

  /manager/avatars/{robot_id}/token/rotate:
    post:
      tags: ["digital-avatar"]
      summary: "轮换数字分身 Bot token"
      parameters: [{in: path, name: robot_id, type: string, required: true}]
      responses:
        200: {description: "新凭据；旧 token 已失效", schema: {$ref: "#/definitions/digitalAvatarToken"}}
        400: {description: "统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]

  /manager/avatars/{robot_id}/cleanup/retry:
    post:
      tags: ["digital-avatar"]
      summary: "重试数字分身生命周期清理"
      parameters: [{in: path, name: robot_id, type: string, required: true}]
      responses:
        200: {description: "重试完成", schema: {$ref: "#/definitions/response"}}
        400: {description: "仍未收敛或统一错误 envelope", schema: {$ref: "#/definitions/response"}}
      security: [{token: []}]

  /robot/sync:
    get:
      tags:
        - "robot"
      summary: "同步机器人菜单"
      description: "同步机器人菜单"
      operationId: "sync robot"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "data"
          description: "同步信息"
          required: true
          schema:
            type: object
            properties:
              version:
                type: integer
                description: "同步版本号"
              username:
                type: string
                description: "机器人名称"
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/robot"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /robot/inline_query:
    post:
      tags:
        - "robot"
      summary: "机器人行内搜索"
      description: "机器人行内搜索"
      operationId: "inline_query"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "data"
          description: "搜索参数"
          required: true
          schema:
            type: object
            properties:
              offset:
                type: string
                description: "搜索偏移位置第一次为空"
              query:
                type: string
                description: "关键字"
              username:
                type: string
                description: "机器人名称"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              inline_query_sid:
                type: string
                description: "搜索ID"
              type:
                type: string
                description: "类型"
              next_offset:
                type: string
                description: "下次查询所需偏移量"
              results:
                type: array
                items:
                  description: "搜索结果"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"

  /robots/{robot_id}/{app_key}/events:
    get:
      tags:
        - "robot"
      summary: "获取事件"
      description: "获取事件"
      operationId: "events"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "robot_id"
          type: string
          description: "即user的username"
          required: true
        - in: "path"
          name: "app_key"
          type: string
          description: "应用key"
          required: true
        - in: "query"
          name: "limit"
          type: integer
          description: "数量"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              status:
                type: integer
              results:
                type: array
                items:
                  $ref: "#/definitions/event"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    post:
      tags:
        - "robot"
      summary: "获取事件"
      description: "获取事件"
      operationId: "events post"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "robot_id"
          type: string
          description: "即user的username"
          required: true
        - in: "path"
          name: "app_key"
          type: string
          description: "应用key"
          required: true
        - in: "body"
          name: "object"
          description: "事件数据"
          required: true
          schema:
            type: object
            properties:
              limit:
                type: integer
                description: "数量"
              event_id:
                type: string
                description: "事件ID"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              status:
                type: integer
              results:
                type: array
                items:
                  $ref: "#/definitions/event"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /robots/{robot_id}/{app_key}/events/{event_id}/ack:
    post:
      tags:
        - "robot"
      summary: "事件确认"
      description: "事件确认"
      operationId: "events ack"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "robot_id"
          type: string
          description: "即user的username"
          required: true
        - in: "path"
          name: "app_key"
          type: string
          description: "应用key"
          required: true
        - in: "path"
          name: "event_id"
          type: string
          description: "事件ID"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /robots/{robot_id}/{app_key}/answerInlineQuery:
    post:
      tags:
        - "robot"
      summary: "响应inlineQuery"
      description: "响应inlineQuery"
      operationId: "events inlineQuery"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "robot_id"
          type: string
          description: "即user的username"
          required: true
        - in: "path"
          name: "app_key"
          type: string
          description: "应用key"
          required: true
        - in: "body"
          name: "object"
          description: "事件数据"
          required: true
          schema:
            type: object
            properties:
              inline_query_sid:
                type: integer
                description: "数量"
              type:
                type: string
                description: "结果类型"
              id:
                type: string
                description: "结果ID"
              results:
                type: array
                items:
                  description: "结果数据"
              next_offset:
                type: string
                description: "偏移量"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /robots/{robot_id}/{app_key}/sendMessage:
    post:
      tags:
        - "robot"
      summary: "发送消息"
      description: "发送消息"
      operationId: "sendMessage"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "robot_id"
          type: string
          description: "即user的username"
          required: true
        - in: "path"
          name: "app_key"
          type: string
          description: "应用key"
          required: true
        - in: "body"
          name: "object"
          description: "消息对象"
          required: true
          schema:
            type: object
            properties:
              setting:
                type: integer
                description: "消息设置"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              stream_no:
                type: string
                items:
                  description: "流消息编号"
              payload:
                type: object
                description: "消息正文"
              entities:
                type: array
                items:
                  properties:
                    length:
                      type: integer
                      description: "流长度"
                    offset:
                      type: integer
                      description: "偏移位置"
                    type:
                      type: string
                      description: "类型"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              header:
                type: object
                properties:
                  no_persist:
                    type: integer
                    description: "是否不持久化"
                  red_dot:
                    type: integer
                    description: "是否显示红点"
                  sync_once:
                    type: integer
                    description: "此消息只被同步或被消费一次(1表示消息将走写模式) ，特别注意：sync_once=1表示写扩散 sync_once=0表示读扩散 写扩散的messageSeq和读扩散messageSeq来源不一样"
              setting:
                type: integer
                description: "消息设置"
              from_uid:
                type: string
                description: "模拟发送者的UID"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              stream_no:
                type: string
                description: "流编号"
              subscribers:
                type: array
                items:
                  type: string
                  description: "订阅者 如果此字段有值，表示消息只发给指定的订阅者"
              payload:
                type: array
                items:
                  type: integer
                  description: "消息内容[]byte"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /robots/{robot_id}/{app_key}/typing:
    post:
      tags:
        - "robot"
      summary: "输入中"
      description: "输入中"
      operationId: "typing"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "robot_id"
          type: string
          description: "即user的username"
          required: true
        - in: "path"
          name: "app_key"
          type: string
          description: "应用key"
          required: true
        - in: "body"
          name: "object"
          description: "频道信息"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /robots/{robot_id}/{app_key}/stream/start:
    post:
      tags:
        - "robot"
      summary: "流式消息开启"
      description: "流式消息开启"
      operationId: "start stream"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "robot_id"
          type: string
          description: "即user的username"
          required: true
        - in: "path"
          name: "app_key"
          type: string
          description: "应用key"
          required: true
        - in: "body"
          name: "object"
          description: "消息对象"
          required: true
          schema:
            type: object
            properties:
              header:
                type: object
                properties:
                  no_persist:
                    type: integer
                    description: "是否不持久化"
                  red_dot:
                    type: integer
                    description: "是否显示红点"
                  sync_once:
                    type: integer
                    description: "此消息只被同步或被消费一次(1表示消息将走写模式) ，特别注意：sync_once=1表示写扩散 sync_once=0表示读扩散 写扩散的messageSeq和读扩散messageSeq来源不一样"
                description: "消息头"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              client_msg_no:
                type: string
                items:
                  description: "客户端消息编号（相同编号，客户端只会显示一条）"
              payload:
                type: object
                description: "消息正文"
              from_uid:
                type: string
                description: "发送者UID"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              stream_no:
                type: string
                description: "流编号"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /robots/{robot_id}/{app_key}/stream/end:
    post:
      tags:
        - "robot"
      summary: "流式消息结束"
      description: "流式消息结束"
      operationId: "end stream"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "robot_id"
          type: string
          description: "即user的username"
          required: true
        - in: "path"
          name: "app_key"
          type: string
          description: "应用key"
          required: true
        - in: "body"
          name: "object"
          description: "消息对象"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              stream_no:
                type: string
                items:
                  description: "流编号"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "token"
    description: "用户token"

definitions:
  digitalAvatarCreate:
    type: object
    required: [name, scope]
    properties:
      name: {type: string}
      description: {type: string}
      scope: {type: string, enum: [platform, space]}
      space_id: {type: string, description: "scope=space 时必填；platform 时必须为空"}
  digitalAvatarUpdate:
    type: object
    properties:
      name: {type: string}
      description: {type: string}
  digitalAvatar:
    type: object
    properties:
      robot_id: {type: string}
      name: {type: string}
      description: {type: string}
      scope: {type: string, enum: [platform, space]}
      space_id: {type: string}
      publication_state: {type: string, enum: [draft, published, unpublished, deleted]}
      lifecycle_pending: {type: integer, description: "1 表示外部清理仍在重试；此时运行时权限保持关闭"}
      created_by: {type: string, description: "审计创建者，不是 owner_uid"}
  digitalAvatarToken:
    type: object
    properties:
      bot_token: {type: string}
  digitalAvatarCredential:
    allOf:
      - $ref: "#/definitions/digitalAvatarToken"
      - type: object
        properties:
          robot_id: {type: string}
          publication_state: {type: string, enum: [draft]}
  event:
    type: object
    properties:
      event_id:
        type: string
        description: "事件ID"
      message:
        type: object
        properties:
          message_id:
            type: string
            description: "消息ID"
          message_seq:
            type: integer
            description: "消息序号"
          from_uid:
            type: string
            description: "发送者"
          channel_id:
            type: string
            description: "频道ID"
          channel_type:
            type: integer
            description: "频道类型"
          timestamp:
            type: integer
            description: "服务器消息时间戳(10位 到秒)"
          payload:
            type: object
            description: "消息正文"
        description: "消息对象"
      inline_query:
        type: object
        properties:
          sid:
            type: string
            description: "唯一ID"
          from_uid:
            type: string
            description: "发送者"
          channel_id:
            type: string
            description: "频道ID"
          channel_type:
            type: integer
            description: "频道类型"
          query:
            type: string
            description: "查询关键字"
          offset:
            type: string
            description: "偏移量"
  robot:
    type: object
    properties:
      robot_id:
        type: string
        description: "机器人ID"
      username:
        type: string
        description: "机器人名称"
      inline_on:
        type: integer
        description: "是否开启行内搜索 1.是"
      placeholder:
        type: string
        description: "输入框占位符，开启行内搜索有效"
      status:
        type: integer
        description: "机器人状态0:禁用1:启用"
      version:
        type: integer
        description: "版本号"
      menus:
        type: array
        items:
          $ref: "#/definitions/menu"
          description: "菜单"
  menu:
    type: object
    properties:
      cmd:
        type: string
        description: "命令"
      remark:
        type: string
        description: "命令说明"
      type:
        type: string
        description: "命名类型"
      robot_id:
        type: string
        description: "机器人ID"
  response:
    type: "object"
    properties:
      status:
        type: integer
        format: int
      msg:
        type: "string"
