openapi: 3.0.3
info:
  title: "Octo Space Directory API"
  description: >
    Space 通讯录目录。一次调用回答「全部 / 只看真人 / 只看 AI」中的一个，
    取代客户端「拉 space/{space_id}/members + 拉 robot/space_bots 再本地合并
    去重计数」的做法。

    独立于 modules/space/swagger/api.yaml：那份文档是 Swagger 2.0，同一文档不能
    混用 OpenAPI 3.x 的路径定义。
  version: "1.0.0"

servers:
  - url: https://api.botgate.cn/v1
    description: 生产环境

tags:
  - name: space
    description: 团队空间

paths:
  /space/{space_id}/directory:
    get:
      tags:
        - space
      summary: "空间通讯录目录（空间成员）"
      description: >
        返回该 Space 的通讯录目录，一行对应一条在册成员（space_member.status=1）。

        **可见范围**：调用者必须是该 Space 的成员，否则拒绝且不返回任何行。
        bot 行不按创建者过滤——可见范围仅由 Space 成员身份决定。

        **kind 判定**：`user.robot=1` 且 robot 表存在 `status=1` 的行 → `bot`；
        `user.robot=0` → `human`。「是 bot 账号但已停用」的行整行排除，既不出现在
        `bot` 里，也不会退化成 `human`。内置账号 `botfather` 始终排除。

        **排序**：`role DESC, created_at ASC, uid ASC`。末位的 uid 是唯一键，
        保证 LIMIT/OFFSET 翻页稳定，不漏行不重复。

        **返回自己**：调用者本人也是目录的一行，是否隐藏由客户端决定。
      operationId: listSpaceDirectory
      parameters:
        - name: space_id
          in: path
          required: true
          description: 空间 ID
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: >
            目录切片。`all` 全部，`human` 只看真人，`bot` 只看 AI。
            取值非法直接报错，不静默回落到 `all`。
          schema:
            type: string
            enum: [all, human, bot]
            default: all
        - name: page
          in: query
          required: false
          description: 页码，`<=0` 归 1
          schema:
            type: integer
            format: int64
            default: 1
        - name: limit
          in: query
          required: false
          description: >
            页大小，`<=0` 归 50，超过 10000 截断为 10000。上限刻意留高，
            便于通讯录一次性拉全一个 Space 建本地索引；响应始终带 `total`，
            需要翻页的调用方随时可以翻。
          schema:
            type: integer
            format: int64
            default: 50
            maximum: 10000
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectoryResp"
        "400":
          description: >
            handler 自身的全部错误出口。经 `httperr.ResponseErrorL` 返回，
            线路状态固定 400（D14 兼容），真实状态在 `error.http_status`：

            * `err.server.space.request_invalid` — `type` 取值非法，
              `details.field` 为 `type`；真实状态 400。
            * `err.server.space.not_member` — 通过了中间件但 `c.Param("space_id")`
              与中间件校验的 Space 不一致（防御性兜底，正常不可达）；真实状态 403。
            * `err.server.space.query_failed` — 目录 / 总数 / 关系态查询失败；
              真实状态 500，Internal，信封不携带具体原因。

            按状态码分支的客户端拿不到这三者的区别，必须读 `error.code`。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: >
            未认证。由 **AuthMiddleware** 返回，是标准错误信封：

            * `err.shared.auth.token_missing` — 请求没带 token。
            * `err.shared.auth.required` — token 无效或已过期。

            SpaceMiddleware 自己也有一条 401 分支（`uid == ""`），但在本路由上
            **不可达**：路由链是 `AuthMiddleware → SharedUIDRateLimiter →
            SpaceMiddleware`，AuthMiddleware 会先中止无效请求、并在放行时写好 uid。
            早先版本的本文档把那条不可达的裸响应写成了 401 的形状，反而漏掉了两条
            真正会发生的——按当时的描述写客户端，会得出「401 没有 error.code」这个
            与线上相反的结论。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: >
            调用者不是该 Space 的成员，或该 Space 已解散 / 被封禁。由 SpaceMiddleware
            返回。

            **注意：这一条不是错误信封。** 中间件目前用 `c.AbortWithStatusJSON`
            直接写一个裸 `{"msg": "无权访问该 Space"}`，没有 `error.code`，客户端只能
            按 HTTP 状态码分支。这是既有行为，本文档如实记录而不是粉饰；把中间件迁进
            信封会改变全部 13 个挂载该中间件的 route group 的响应体，属于独立变更，见
            `.octospec/tasks/space-middleware-error-envelope/`。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MiddlewareRawError"
        "429":
          description: >
            触发 per-UID 限流（`SharedUIDRateLimiter`，进程内跨路由共享配额）。
            `error.code` 为 `rate.limited`，并带
            `X-RateLimit-Limit` / `X-RateLimit-Remaining` / `Retry-After` 头。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: >
            中间件校验成员身份时 DB 失败。裸 `{"msg": "校验 Space 成员身份失败"}`，
            与 403 同源、同样不是信封（401 不同源，见上）。

            handler 自身的查询失败（目录、总数、关系态）走
            `httperr.ResponseErrorL`，因此线路状态是 **400** 而不是 500，
            `error.code` 为 `err.server.space.query_failed`，真实状态在
            `error.http_status`；按仓库的 Internal 约定信封不携带具体原因。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MiddlewareRawError"

components:
  schemas:
    DirectoryResp:
      type: object
      required: [total, page, limit, items]
      properties:
        total:
          type: integer
          description: 当前 `type` 过滤后、分页前的总行数。客户端据此渲染 tab 计数。
          example: 6100
        page:
          type: integer
          description: 生效的页码（已归一）
          example: 1
        limit:
          type: integer
          description: 生效的页大小（已归一/截断）
          example: 50
        items:
          type: array
          items:
            $ref: "#/components/schemas/DirectoryItem"

    DirectoryItem:
      type: object
      required: [uid, name, kind, role, created_at]
      properties:
        uid:
          type: string
          example: "u_1a2b3c"
        name:
          type: string
          description: >
            展示名，按 issue #344 的兜底链解析：`user.name` →
            `user_verification.real_name` → 稳定占位符 `User <uid>`。
            任何分支都不会返回空串，也不会暴露 short_no / username。
          example: "Alice"
        kind:
          type: string
          enum: [human, bot]
        role:
          type: integer
          description: 空间角色 0.普通成员 1.管理员 2.拥有者（bot 行同样有）
          example: 0
        created_at:
          type: string
          description: 入空间时间
          example: "2026-01-02 03:04:05"
        bot:
          allOf:
            - $ref: "#/components/schemas/DirectoryBot"
          description: 仅当 `kind == "bot"` 时存在；`kind == "human"` 时该字段不出现。

    DirectoryBot:
      type: object
      required: [relation]
      description: >
        目录行的 bot 附加信息，刻意只带 relation。

        `/v1/robot/space_bots` 还会返回 description / creator_uid / creator_name /
        bot_commands / auto_approve，本接口一个都不给：目录行只渲染头像（由 uid
        推导）、名字、在线态和 AI 的已添加状态。bot_commands 是 bot 的完整命令
        列表，按线上最大 Space 的约 4400 个 bot 估算，胖行会把一次性响应推到 MB
        级。bot 详情自有接口，列表不兼任详情投影。
      properties:
        relation:
          type: string
          enum: [added, pending, not_added]
          description: >
            该 bot 与**当前调用者**的好友关系态。口径与 `/v1/robot/space_bots`
            的 `status` 一致：friend 命中 → added，否则 friend_apply 命中 →
            pending，都没有 → not_added。这是本响应中唯一因人而异的字段。

    MiddlewareRawError:
      type: object
      required: [msg]
      description: >
        SpaceMiddleware 的裸错误体，**不是**仓库统一的错误信封。

        中间件用 `c.AbortWithStatusJSON` 直接写这个形状，早于 i18n 信封存在，
        且违反仓库自己的 error-handling 规则。这里如实记录当前线上行为：
        没有 `error` 对象、没有错误码、文案硬编码中文且不随 `Accept-Language`
        变化，客户端只能按 HTTP 状态码分支。

        迁移它会改变全部 13 个挂载 SpaceMiddleware 的 route group 的错误响应体，
        与本接口无关，因此单独立项：`.octospec/tasks/space-middleware-error-envelope/`。
      properties:
        msg:
          type: string
          description: 硬编码的中文文案，不本地化
          example: "无权访问该 Space"

    ErrorEnvelope:
      type: object
      description: >
        仓库统一的 i18n 错误信封（pkg/httperr + pkg/errcode）。是双形态的：
        既给出结构化的 `error` 对象，也保留 legacy 客户端读的 `msg` / `status`
        顶层字段，所以对只读 `msg` 的老客户端是纯增量。
      properties:
        msg:
          type: string
          description: 与 `error.message` 相同的本地化文案，为 legacy 客户端保留
        status:
          type: integer
          description: 与线路状态码相同，为 legacy 客户端保留
        error:
          type: object
          properties:
            code:
              type: string
              description: 错误码 ID（渲染器输出的字段名是 `code`，不是 `id`）
              example: "err.server.space.not_member"
            message:
              type: string
              description: 已按请求语言本地化的消息
              example: "You are not a member of this space."
            http_status:
              type: integer
              description: 该错误码的真实 HTTP 状态（线上状态码固定 400 时用它区分）
              example: 403
            details:
              type: object
              description: 结构化补充字段，按错误码的 SafeDetailKeys 白名单过滤
              additionalProperties: true
