swagger: "2.0"
info:
  description: "Octo Follow API — 关注/取消关注/排序操作"
  version: "1.0.0"
  title: "Octo Follow API"
host: "api.botgate.cn"
tags:
  - name: "follow"
    description: "关注 Tab 相关操作（DM 关注、群黑名单、子区关注、手动排序）"
schemes:
  - "https"
basePath: "/v1"

paths:
  /follow/dm:
    post:
      tags:
        - "follow"
      summary: "关注 DM"
      description: "将指定用户的私聊会话加入关注列表，可选择指定所属分组"
      operationId: "followDM"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            type: object
            required:
              - peer_uid
            properties:
              peer_uid:
                type: string
                description: "对方用户 UID"
              category_id:
                type: string
                maxLength: 32
                description: "DM 所属分类的 UUID，引用 group_category.category_id（与群分类共用同一 namespace）。不传或 null 表示未分类。服务端会校验 categoryID 属于当前 uid 且未删除，否则返回 400 'dm category forbidden'。"
      responses:
        200:
          description: "操作成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "参数错误或业务错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    delete:
      tags:
        - "follow"
      summary: "取消关注 DM"
      description: "从关注列表中移除指定用户的私聊会话"
      operationId: "unfollowDM"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "peer_uid"
          type: string
          required: true
          description: "对方用户 UID"
      responses:
        200:
          description: "操作成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "参数错误或业务错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /follow/channel/unfollow:
    post:
      tags:
        - "follow"
      summary: "取消关注群（级联取关子区）"
      description: |
        将群加入黑名单（group_unfollowed=1），同时：
        - 清除该群在当前用户下的 auto_follow_threads 标记，后续新建子区不再自动关注；
        - 删除该群下所有子区的扩展行（target_type=5 LIKE prefix 级联 DELETE）。

        在同一事务内 +1 user_follow_version，客户端可凭 follow_version 触发增量同步。
      operationId: "unfollowChannel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            type: object
            required:
              - group_no
            properties:
              group_no:
                type: string
                description: "群编号"
      responses:
        200:
          description: "操作成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "参数错误或业务错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /follow/channel/refollow:
    post:
      tags:
        - "follow"
      summary: "关注群（级联关注子区）"
      description: |
        关注该群：
        - 清除黑名单标记（group_unfollowed=0）+ 设置 auto_follow_threads=1；
        - 按 created_at DESC 取当前群下最多 500 个 active 子区，逐一 INSERT IGNORE
          落 thread ext 行（已存在的行保留用户原有 follow_sort）；
        - 之后新建子区时由服务端在 thread 创建 hook 中自动给该用户 fanout（无需客户端轮询）。

        500 上限与产品侧"子区自动归档"配合：归档后子区不在 active 集合，不参与初始物化；
        新建的子区由 fanout 在线补齐。超过 500 时按 created_at DESC 取最新，截断的是
        最旧的子区（产品上极有可能马上被归档）。

        实现采用两阶段提交（关闭 enumerate 与 OnThreadCreated 之间的 race window），
        bump user_follow_version 0 到 2 次（与子区数量无关；常数次数）：
          - 鉴权失败：0 次（直接 403，不进任何 tx）；
          - 群下无 active 子区 / 未注入 enumerator：1 次（Phase 1 commit）；
          - 正常路径：2 次（Phase 1 + Phase 3 各一次）。
        客户端只需在 follow_version 变化时拉一次 sidebar，多 +1 不影响正确性。

        当 caller 不是该群成员（或群在请求 Space 不可见）时返回 403。
      operationId: "followChannel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            type: object
            required:
              - group_no
            properties:
              group_no:
                type: string
                description: "群编号"
      responses:
        200:
          description: "操作成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "参数错误或业务错误"
          schema:
            $ref: "#/definitions/response"
        403:
          description: "无权关注该群（非群成员或群在请求 Space 不可见）"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /follow/thread:
    post:
      tags:
        - "follow"
      summary: "关注子区"
      description: "关注子区，同时隐式清除父群的黑名单标记（group_unfollowed=0）。thread_channel_id 格式为 {groupNo}____{shortID}"
      operationId: "followThread"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            type: object
            required:
              - thread_channel_id
            properties:
              thread_channel_id:
                type: string
                description: "子区频道 ID，格式：{groupNo}____{shortID}"
      responses:
        200:
          description: "操作成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "参数错误或业务错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    delete:
      tags:
        - "follow"
      summary: "取消关注子区"
      description: "从关注列表中移除指定子区，不影响父群的关注状态"
      operationId: "unfollowThread"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "thread_channel_id"
          type: string
          required: true
          description: "子区频道 ID，格式：{groupNo}____{shortID}"
      responses:
        200:
          description: "操作成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "参数错误或业务错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /follow/sort:
    put:
      tags:
        - "follow"
      summary: "关注 Tab 手动排序（CAS）"
      description: |
        对关注列表进行手动排序，使用乐观并发控制（CAS）。
        - version 必须与服务端当前版本一致，否则返回 version conflict 错误。
        - target_type 白名单：1（DM）/ 2（群）/ 5（子区）。
      operationId: "updateFollowSort"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            type: object
            required:
              - items
              - version
            properties:
              items:
                type: array
                description: "排序项列表（非空）"
                items:
                  $ref: "#/definitions/sortItem"
              version:
                type: integer
                format: int64
                description: "客户端持有的当前版本号，用于 CAS 并发控制"
      responses:
        200:
          description: "排序更新成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: |
            业务错误（msg 字段携带具体说明）：
            - 参数错误：items 为空、target_type 不在白名单 (1/2/5)
            - "version conflict: please retry"：CAS 版本号不匹配，客户端应重新拉取最新版本后重试
            - "sort target not found"：items 中至少一项 DM (target_type=1) 或子区 (target_type=5) 在服务端不存在（这两类目标进入关注列表的前提就是 ext 行存在，缺失意味着并发被取消关注），客户端应重新拉取关注列表后整体重试。注意：target_type=2（群）通过 group_setting.category_id 默认关注时，ext 行不存在不会触发此错误——服务端会先校验该群确实属于用户的 category 再自动物化（issue #151）。若客户端提交的群 target_id 既无 ext 行也未被加入用户的 category，仍会作为不存在目标被拒绝
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "token"
    description: "用户 token（登录后获取）"

definitions:
  sortItem:
    type: object
    required:
      - target_type
      - target_id
    properties:
      target_type:
        type: integer
        description: "目标类型：1=DM, 2=群, 5=子区"
        enum: [1, 2, 5]
      target_id:
        type: string
        description: "目标 ID（DM 为 peer_uid，群为 group_no，子区为 thread_channel_id）"
      sort:
        type: integer
        description: |
          可选，客户端侧的本地排序值，服务端忽略此字段；最终 follow_sort 完全按 items 数组顺序（1, 2, 3, ...）重新分配。
          字段保留是为了客户端在传输前后保持自身数据结构一致，未来可能完全弃用。
  response:
    type: object
    properties:
      status:
        type: integer
        description: "HTTP 状态码"
      msg:
        type: string
        description: "错误信息（成功时为空）"
