swagger: "2.0"
info:
  description: "Octo API"
  version: "1.0.0"
  title: "Octo API"
host: "api.botgate.cn"
tags:
  - name: "conversation"
    description: "最近会话"
schemes:
  - "https"
basePath: "/v1"

paths:
  /conversation/sync:
    post:
      tags:
        - "conversation"
      summary: "同步离线最近会话"
      description: |
        同步离线最近会话。

        服务端过滤规则：
        - 已删除子区（`status=3`）不返回。
        - **已归档子区（`status=2`）不返回**（PR #1377 起生效，配合 #1376 的 server 端 cron）。
          archived 子区在收到新消息时由后端 `RecordMessageAndReactivate` 自动复活为 active，
          下一次 sync 会重新出现；前端"已归档列表"入口请使用
          `GET /v1/groups/{group_no}/threads?status=archived`。
        - 当前用户已退群的群会话不返回。
        - `extra.manual_unread` 只表示用户手动设置的展示标识，不等价于 WuKongIM 的
          `unread` 消息数量，也不会改变真实阅读位置。它不属于 recent 活跃时间窗口的
          豁免条件；当 `recent_filter=true` 时，超过窗口的手动未读会话仍会被过滤。

        cursor 推进基于过滤前的 raw conversations，确保被过滤掉的会话不会让游标卡住
        导致客户端反复拉同一批数据。
      operationId: "sync conversation"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "data"
          description: "最近会话数据"
          required: true
          schema:
            type: object
            properties:
              version:
                type: integer
                description: "当前客户端的会话最大版本号(客户端最新会话的时间戳)"
              last_msg_seqs:
                type: string
                description: "客户端所有会话的最后一条消息序列号 格式： channelID:channelType:last_msg_seq|channelID:channelType:last_msg_seq"
              msg_count:
                type: integer
                description: "每个会话消息数量"
              device_uuid:
                type: string
                description: "设备uuid"
              recent_filter:
                type: boolean
                description: "可选，默认 false。为 true 时对返回的会话列表套用 sidebar recent tab 同款的按频道类型活动窗口过滤（system_settings 的 sidebar.recent_filter_{group,thread,person}_days，0=该类型不过滤）。供 Web「最近」tab 使用；不传则行为与历史完全一致（不过滤）。cursor 推进与 per-Space 未读仍基于过滤前的原始会话。豁免：有未读、已置顶、系统 Bot 的 DM 永不被时间窗口隐藏（与 /v1/sidebar/sync 的 recent tab 逐条一致）；置顶集合查询失败时**整体跳过**本次窗口过滤（返回未过滤的完整列表），而不是套用一个已知不完整的豁免集合去藏东西。"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              uid:
                type: string
                description: "请求者uid"
              conversations:
                type: array
                items:
                  properties:
                    channel_id:
                      type: string
                      description: "频道唯一ID"
                    channel_type:
                      type: string
                      description: "频道类型"
                    unread:
                      type: integer
                      description: "未读数量"
                    stick:
                      type: integer
                      description: "是否置顶 1.是"
                    mute:
                      type: integer
                      description: "免打扰"
                    timestamp:
                      type: integer
                      description: "最后一次会话时间"
                    last_client_msg_no:
                      type: string
                      description: "最后一条客户端消息编号"
                    offset_msg_seq:
                      type: integer
                      description: "偏移位的消息seq"
                    version:
                      type: integer
                      description: "数据版本"
                    recents:
                      type: array
                      items:
                        $ref: "#/definitions/syncMessage"
                        description: "最近N条消息"
                    extra:
                      $ref: "#/definitions/conversationExtra"
                      description: "Octo 会话扩展信息，包括草稿、阅读位置和手动未读标识"
                    users:
                      type: array
                      items:
                        $ref: "#/definitions/UserDetailResp"
                        description: "用户详情"
                    groups:
                      type: array
                      items:
                        $ref: "#/definitions/group"
                        description: "群"
              space_memberships:
                type: array
                description: |
                  当前用户加入的全部群的 Space 归属（每次都返回，与增量/全量同步无关）。
                  客户端用于刷新本地 group/my-row 缓存，避免 SpaceFilter 因缓存 miss
                  走 fail-open 导致跨 Space 群消息泄漏。

                  **契约 — authoritative**：
                  1. 列表形态权威：`space_memberships: []` 仅在用户加入了 0 个群时返回；
                  2. 行级字段权威：每个条目的 `space_id` 与 `my_source_space_id` 都来自权威 DB；
                  上述任一查询失败时服务端直接返回 HTTP 500，绝不会以"空数组 / 缺字段"
                  形式静默吞掉错误。客户端可以安全地按 "wipe-replace" 语义处理：不在列表
                  中的本地 group/my-row 行即视为用户退群，直接删除本地缓存。

                  子区不单列：客户端按 `ParseChannelID` 拿父群 groupNo 反查本字段即可。
                items:
                  type: object
                  properties:
                    channel_id:
                      type: string
                      description: "群 channel_id (即 group_no)"
                    space_id:
                      type: string
                      description: "群表权威 Space ID"
                    my_source_space_id:
                      type: string
                      description: |
                        外部群成员视角下的 source Space ID（仅当登录用户是外部成员时返回，
                        空 source_space_id 会兜底为用户默认 Space）。
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /conversation/syncack:
    post:
      tags:
        - "conversation"
      summary: "同步离线最近会话回执"
      description: "同步离线最近会话回执"
      operationId: "sync conversation ack"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "同步离线最近会话回执"
          required: true
          schema:
            type: object
            properties:
              cmd_version:
                type: integer
                description: "cmd版本"
              device_uuid:
                type: string
                description: "设备uuid"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /conversation/extra/sync:
    post:
      tags:
        - "conversation"
      summary: "同步最近会话扩展"
      description: |
        按会话扩展版本增量同步当前登录用户的 `conversation_extra` 数据。

        该接口只同步 Octo 维护的会话扩展信息，不负责同步 WuKongIM 的真实未读数、
        最后一条消息或会话列表。客户端应在本地保存本次返回结果中的最大 `version`，
        下次请求时作为游标传回。返回空数组时保持原游标不变。

        `manual_unread` 是独立于真实 `unread` 的手动展示标识：
        - `true`：用户手动将该会话标记为未读；
        - `false`：该会话当前没有手动未读标识；
        - 它不会改变 `browse_to`、`keep_message_seq` 或 WuKongIM 的真实阅读位置。

        收到 WuKongIM 的 `CMDSyncConversationExtra` 命令后，客户端应调用本接口拉取
        实际变更数据。该命令只起到变更通知作用，不携带完整的扩展记录。
      operationId: "sync conversation extra"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "会话扩展增量同步参数"
          required: true
          schema:
            type: object
            properties:
              version:
                type: integer
                format: int64
                default: 0
                description: "客户端已同步到的会话扩展全局版本；仅返回 version 大于该值的记录，不传时按 0 处理"
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/conversationExtra"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /conversation/setManualUnread:
    put:
      tags:
        - "conversation"
      summary: "设置会话手动未读"
      description: |
        将当前登录用户指定的会话设置为手动未读。

        该标识只属于当前用户，不会修改其他用户的会话状态，也不会修改 WuKongIM 的真实
        未读数或阅读游标。服务端会先查询 WuKongIM 中当前用户的目标会话：
        - 目标会话已有真实未读消息时，不重复创建手动未读标识，返回 `changed=false`；
        - 目标会话已经是手动未读时，接口幂等返回 `changed=false`；
        - 只有真实未读为 0 且尚未手动未读时，才会写入 `manual_unread=true`。

        设置成功后，服务端会更新 `conversation_extra.version`，并向当前用户的个人频道
        发送 `CMDSyncConversationExtra`，通知其他在线设备调用 `/conversation/extra/sync`。
      operationId: "set manual unread"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "要设置为手动未读的会话"
          required: true
          schema:
            $ref: "#/definitions/manualUnreadRequest"
      responses:
        200:
          description: "设置结果；已是真实未读或手动未读时也返回 200，使用 changed/reason 判断是否发生变化"
          schema:
            $ref: "#/definitions/setManualUnreadResponse"
        400:
          description: "请求参数或会话查询错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /conversation/clearManualUnread:
    put:
      tags:
        - "conversation"
      summary: "清除会话手动未读"
      description: |
        仅清除当前登录用户指定会话的 `manual_unread` 标识。

        该接口不会调用 WuKongIM 的 `clearUnread`，因此不会修改真实未读数量、阅读游标或
        消息拉取位置。接口适用于用户进入会话后，前端确认当前页面不需要继续显示手动未读
        标识的场景，尤其是本次消息拉取为空时。

        如果目标会话本来没有手动未读标识，接口按幂等成功处理并返回 `changed=false`。
        状态发生变化后，服务端会更新扩展版本并通知当前用户的其他在线设备同步。
      operationId: "clear manual unread"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "要清除手动未读的会话"
          required: true
          schema:
            $ref: "#/definitions/manualUnreadRequest"
      responses:
        200:
          description: "清除结果；没有手动未读标识时也返回 200"
          schema:
            $ref: "#/definitions/clearManualUnreadResponse"
        400:
          description: "请求参数或数据库查询错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /conversation/clearUnread:
    put:
      tags:
        - "conversation"
      summary: "清除会话真实未读"
      description: |
        清除或更新当前登录用户在 WuKongIM 中的真实未读状态。

        当前服务端实现中，只要该请求本身有效并且目标会话存在手动未读标识，处理成功后
        也会一并清除该用户的 `manual_unread`，然后发送会话扩展同步通知。因此：
        - `unread=0`：清除真实未读，同时清除手动未读；
        - `unread>0`：按 WuKongIM 语义设置/保留真实未读，同时也清除手动未读；
        - 如果前端只想清除手动未读而保留真实未读，应调用 `/conversation/clearManualUnread`。

        该接口不会清除其他用户的状态。
      operationId: "clear conversation unread"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "WuKongIM 真实未读操作参数"
          required: true
          schema:
            $ref: "#/definitions/clearConversationUnreadRequest"
      responses:
        200:
          description: "处理成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "请求参数或命令发送错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /conversations/{channel_id}/{channel_type}:
    delete:
      tags:
        - "conversation"
      summary: "删除最近会话"
      description: "删除最近会话"
      operationId: "delete conversations"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "channel_id"
          type: string
          description: "频道唯一ID"
          required: true
        - in: "path"
          name: "channel_type"
          type: string
          description: "频道类型"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /conversations/{channel_id}/{channel_type}/extra:
    post:
      tags:
        - "conversation"
      summary: "添加或更新最近会话扩展"
      description: |
        更新当前登录用户指定会话的草稿、预览位置和会话恢复位置。

        请求体不接受 `manual_unread`。手动未读状态必须使用专用的
        `/conversation/setManualUnread` 或 `/conversation/clearManualUnread` 接口修改，
        这样普通的草稿或滚动位置更新不会意外覆盖手动未读状态。

        更新成功后服务端会生成新的会话扩展版本，并通过 `CMDSyncConversationExtra` 通知
        当前用户的其他在线设备；其他设备再调用 `/conversation/extra/sync` 拉取数据。
      operationId: "add conversations extra"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "channel_id"
          type: string
          description: "频道唯一ID"
          required: true
        - in: "path"
          name: "channel_type"
          type: string
          description: "频道类型"
          required: true
        - in: "body"
          name: "body"
          description: "要更新的会话扩展字段"
          required: true
          schema:
            type: object
            properties:
              browse_to:
                type: integer
                description: "预览位置 预览到的位置，与会话保持位置不同的是 预览到的位置是用户读到的最大的messageSeq。跟未读消息数量有关系"
              keep_message_seq:
                type: integer
                description: "保存位置的messageSeq"
              keep_offset_y:
                type: integer
                description: "Y的偏移量"
              draft:
                type: string
                description: "草稿"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              version:
                type: integer
                description: "更新的版本号"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  # NOTE: sidebar/follow 接口的 swagger 文档独立放在 sidebar.yaml
  # 因为本文件的 basePath 是 /v1。

securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "token"
    description: "用户token"

definitions:
  conversationExtra:
    type: "object"
    description: "当前登录用户在指定会话上的 Octo 扩展数据"
    properties:
      channel_id:
        type: string
        description: "频道唯一 ID"
      channel_type:
        type: integer
        format: uint8
        enum: [1, 2, 5]
        description: "频道类型：1=单聊，2=群聊，5=社区子区"
      browse_to:
        type: integer
        format: int64
        description: "预览到的最大消息序号；不等价于手动未读标识"
      keep_message_seq:
        type: integer
        format: int64
        description: "重新进入会话时恢复的消息序号"
      keep_offset_y:
        type: integer
        description: "恢复会话滚动位置时的垂直偏移量"
      draft:
        type: string
        description: "当前会话草稿"
      version:
        type: integer
        format: int64
        description: "会话扩展全局同步版本"
      manual_unread:
        type: boolean
        description: "是否被当前用户手动标记为未读；不代表 unread 消息数量"
  manualUnreadRequest:
    type: "object"
    required:
      - channel_id
      - channel_type
    properties:
      channel_id:
        type: string
        minLength: 1
        description: "频道唯一 ID"
      channel_type:
        type: integer
        format: uint8
        enum: [1, 2, 5]
        description: "频道类型：1=单聊，2=群聊，5=社区子区"
  setManualUnreadResponse:
    type: "object"
    properties:
      channel_id:
        type: string
        description: "频道唯一 ID"
      channel_type:
        type: integer
        format: uint8
        description: "频道类型"
      manual_unread:
        type: boolean
        description: "处理后的手动未读状态"
      changed:
        type: boolean
        description: "本次请求是否实际修改了状态"
      version:
        type: integer
        format: int64
        description: "状态发生变化时生成的会话扩展版本；未变化时省略"
      reason:
        type: string
        enum: [already_unread, already_manual_unread]
        description: "changed=false 时的原因；真实未读已存在或已经是手动未读"
  clearManualUnreadResponse:
    type: "object"
    properties:
      channel_id:
        type: string
        description: "频道唯一 ID"
      channel_type:
        type: integer
        format: uint8
        description: "频道类型"
      manual_unread:
        type: boolean
        description: "处理后的手动未读状态，成功清除后为 false"
      changed:
        type: boolean
        description: "本次请求是否实际修改了状态"
      version:
        type: integer
        format: int64
        description: "状态发生变化时生成的会话扩展版本；未变化时省略"
  clearConversationUnreadRequest:
    type: "object"
    required:
      - channel_id
      - channel_type
      - unread
    properties:
      channel_id:
        type: string
        minLength: 1
        description: "频道唯一 ID"
      channel_type:
        type: integer
        format: uint8
        description: "频道类型；由 WuKongIM 处理"
      unread:
        type: integer
        format: int64
        minimum: 0
        description: "目标真实未读数量；0 表示清除全部真实未读"
      message_seq:
        type: integer
        format: int64
        description: "超级群清除真实未读时使用的消息序号，普通会话通常为 0"
  group:
    type: "object"
    properties:
      group_no:
        type: string
        description: "群编号"
      group_type:
        type: integer
        description: "群类型 0.普通群 1.超大群"
      name:
        type: string
        description: "群名称"
      remark:
        type: string
        description: "群备注"
      notice:
        type: string
        description: "群简介"
      mute:
        type: integer
        description: "是否免打扰 1.是"
      top:
        type: integer
        description: "是否置顶 1.是"
      show_nick:
        type: integer
        description: "是否显示群内成员昵称 1.是"
      save:
        type: integer
        description: "是否保存到通讯录 1.是"
      forbidden:
        type: integer
        description: "是否全员禁言 1.是"
      invite:
        type: integer
        description: "是否开启群聊邀请确认 1.是"
      chat_pwd_on:
        type: integer
        description: "是否聊天密码 1.是"
      screenshot:
        type: integer
        description: "是否截屏通知 1.是"
      revoke_remind:
        type: integer
        description: "是否撤回提醒 1.是"
      join_group_remind:
        type: integer
        description: "是否进群提醒 1.是"
      forbidden_add_friend:
        type: integer
        description: "是否群内禁止加好友 1.是"
      status:
        type: integer
        description: "群状态 1.正常"
      receipt:
        type: integer
        description: "消息是否回执 1.是"
      flame:
        type: integer
        description: "是否开启阅后即焚 1.是"
      flame_second:
        type: integer
        description: "阅后即焚秒数"
      allow_view_history_msg:
        type: integer
        description: "是否允许新成员查看历史消息 1.是"
      member_count:
        type: integer
        description: "成员数量"
      online_count:
        type: integer
        description: "在线成员数量"
      quit:
        type: integer
        description: "是否已退出群聊"
      role:
        type: integer
        description: "我在群内角色 0.普通成员 1.群主 2.管理员"
      forbidden_expir_time:
        type: integer
        description: "我在此群的禁言过期时间"
      version:
        type: integer
        description: "群数据版本"
  UserDetailResp:
    type: "object"
    properties:
      uid:
        type: string
        description: "用户ID"
      name:
        type: string
        description: "用户名"
      username:
        type: string
        description: "登录用户名 如手机号登录则为 zone+phone"
      email:
        type: string
        description: "邮箱（仅自己可见）"
      zone:
        type: string
        description: "手机区号（仅自己可见）"
      phone:
        type: string
        description: "手机号（仅自己可见）"
      mute:
        type: integer
        description: "免打扰"
      top:
        type: integer
        description: "置顶"
      sex:
        type: integer
        description: "性别 1 男"
      category:
        type: string
        description: "用户分类 ‘客服’ 等"
      short_no:
        type: string
        description: "用户唯一短号"
      chat_pwd_on:
        type: integer
        description: "是否开启聊天密码 1.是"
      screenshot:
        type: integer
        description: "是否开启截屏通知 1.是"
      revoke_remind:
        type: integer
        description: "是否开启撤回提醒 1.是"
      receipt:
        type: integer
        description: "消息是否回执 1.是"
      online:
        type: integer
        description: "用户是否在线 1.是"
      last_offline:
        type: integer
        description: "最后一次离线时间"
      device_flag:
        type: integer
        description: "在线设备标记 0.APP 1.Web 2.PC"
      follow:
        type: integer
        description: "是否是好友 1.是"
      be_deleted:
        type: integer
        description: "是否被删除 1.是"
      be_blacklist:
        type: integer
        description: "是否被拉黑 1.是"
      vercode:
        type: string
        description: "加好友所需vercode"
      source_desc:
        type: string
        description: "加好友来源"
      remark:
        type: string
        description: "备注"
      is_upload_avatar:
        type: integer
        description: "是否已上传过头像 1.是"
      status:
        type: integer
        description: "用户状态 1.正常 2.黑名单"
      robot:
        type: integer
        description: "是否为机器人 1.是"
      is_destroy:
        type: integer
        description: "是否已注销 1.是"
      flame:
        type: integer
        description: "是否开启阅后即焚 1.是"
      flame_second:
        type: integer
        description: "阅后即焚秒数"
  syncMessage:
    type: "object"
    properties:
      message_id:
        type: string
        description: "消息ID"
      message_seq:
        type: integer
        description: "消息序号"
      channel_id:
        type: string
        description: "频道ID"
      channel_type:
        type: integer
        description: "频道类型"
      client_msg_no:
        type: string
        description: "客户端消息编号"
      from_uid:
        type: string
        description: "消息发送者uid"
      timestamp:
        type: integer
        description: "消息时间"
      voice_status:
        type: integer
        description: "语音消息是否已读 1.是"
      is_deleted:
        type: integer
        description: "是否已删除 1.是"
      revoke:
        type: integer
        description: "是否撤回 1.是"
      revoker:
        type: string
        description: "撤回者uid"
      extra_version:
        type: integer
        description: "扩展版本号"
      unread_count:
        type: integer
        description: "未读消息数量"
      readed_count:
        type: integer
        description: "已读消息数量"
      readed:
        type: integer
        description: "是否已读(针对自己) 1.是"
      receipt:
        type: integer
        description: "消息是否开启回执 1.是"
      setting:
        type: integer
        description: "消息设置"
      payload:
        type: object
        description: "消息正文"
      signal_payload:
        type: string
        description: "加密正文"
      message_extra:
        type: object
        $ref: "#/definitions/messageExtra"
      reactions:
        type: array
        items:
          $ref: "#/definitions/messageReaction"
  messageExtra:
    type: "object"
    properties:
      message_id:
        type: integer
        description: "数字类型消息ID"
      message_id_str:
        type: string
        description: "字符串消息ID"
      revoke:
        type: integer
        description: "是否撤回 1.是"
      revoker:
        type: string
        description: "撤回者uid"
      voice_status:
        type: integer
        description: "语音消息是否已读 1.是"
      readed:
        type: integer
        description: "消息是否已读(针对自己) 1.是"
      readed_count:
        type: integer
        description: "已读数量"
      readed_at:
        type: integer
        description: "已读时间"
      is_mutual_deleted:
        type: integer
        description: "是否双向删除 1.是"
      content_edit:
        type: object
        description: "编辑后的正文"
      edited_at:
        type: integer
        description: "编辑时间"
      extra_version:
        type: integer
        description: "数据版本"
  messageReaction:
    type: "object"
    properties:
      message_id:
        type: string
        description: "消息ID"
      uid:
        type: string
        description: "操作用户uid"
      name:
        type: string
        description: "操作用户名"
      channel_id:
        type: string
        description: "频道ID"
      channel_type:
        type: integer
        description: "频道类型"
      seq:
        type: integer
        description: "消息序号"
      emoji:
        type: string
        description: "回应表情"
      is_deleted:
        type: integer
        description: "是否已删除 1.是"
      created_at:
        type: string
        description: "操作时间"
  response:
    type: "object"
    properties:
      status:
        type: integer
        format: int
      msg:
        type: "string"
