swagger: "2.0"
info:
  description: "Octo API - Sidebar 聚合接口"
  version: "1.0.0"
  title: "Octo API - Sidebar"
host: "api.botgate.cn"
tags:
  - name: "sidebar"
    description: "Sidebar 聚合（关注 / 最近 Tab，issue #337）"
schemes:
  - "https"
basePath: "/v1"

paths:
  /sidebar/sync:
    post:
      tags:
        - "sidebar"
      summary: "Sidebar 聚合同步（按 Tab）"
      description: |
        Web 端 Sidebar 聚合接口。根据 tab 参数返回不同维度的会话条目列表。

        **follow Tab（关注）**：
        - 群：`group_setting.category_id IS NOT NULL` 且用户未取消关注（`group_unfollowed=0`）
        - DM：`user_conversation_ext.followed_dm=1`
        - 子区：父群在 follow 集合 + 该子区有 ext 行
        - 排序（Issue #41）：
          `category_sort ASC` → `pinned DESC` → `follow_sort ASC` → `group_setting.category_sort ASC` → `target_id ASC`
          其中 follow_sort 来自 sidebar 拖拽（`PUT /v1/follow/sort`），优先于 category-management UI
          写入的 `group_setting.category_sort`，让 sidebar 拖拽真正决定同 category 内顺序；
          后者作为用户未拖过 sidebar 时的回退顺序。
        - 不过滤 3 天时间窗口

        **recent Tab（最近）**：
        - 直接基于 IM 核心返回的会话列表
        - 群 / 子区：仅保留 `timestamp > NOW - 72h`
        - DM：全保留（不受时间窗口限制）
        - 排序：`pinned DESC` → `timestamp DESC`
      operationId: "sidebarSync"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            type: object
            required:
              - tab
              - device_uuid
            properties:
              tab:
                type: string
                enum: ["follow", "recent"]
                description: "Sidebar 标签（关注 / 最近）"
              version:
                type: integer
                format: int64
                description: "客户端当前版本号（透传给 IM 核心）"
              last_msg_seqs:
                type: string
                description: "客户端所有会话的最后一条消息序列号（透传给 IM 核心）"
              msg_count:
                type: integer
                format: int64
                description: "每个会话拉取的最近消息条数"
              device_uuid:
                type: string
                description: "设备 UUID（必填）"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: "#/definitions/sidebarItem"
              version:
                type: integer
                format: int64
                description: "IM 核心返回的最新版本号（recent tab 的 cursor）"
              follow_version:
                type: integer
                format: int64
                description: "user_follow_version 的当前值（follow tab 的 CAS / 增量检测）。调用 /v1/follow/sort 时原样传回。"
        400:
          description: "参数错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "token"
    description: "用户token"

definitions:
  sidebarItem:
    type: "object"
    properties:
      target_type:
        type: integer
        description: "目标类型：1=DM / 2=群 / 5=子区"
      target_id:
        type: string
        description: "目标 ID（DM: peerUID；群: groupNo；子区: channelID）"
      channel_type:
        type: integer
        description: "频道类型（与 target_type 对应）"
      channel_id:
        type: string
        description: "频道 ID"
      timestamp:
        type: integer
        format: int64
        description: "最后一次会话时间（Unix 秒）"
      unread:
        type: integer
        description: "未读消息数"
      is_pinned:
        type: boolean
        description: "是否置顶（来自 user_pinned_channel）"
      is_followed:
        type: boolean
        description: "是否已关注"
      category_id:
        type: string
        description: "所属分组 ID（仅 follow tab；群为 group_setting.category_id，DM 为 ext.dm_category_id 转字符串）"
      category_sort:
        type: integer
        description: "类别之间的排序权重，来自 group_category.sort —— 调用 /v1/category/sort 可改变它（值越小越靠前）。同一类别内的群之间另由 group_setting.category_sort 排序，已由服务端 sort，不单独返回。Issue #41 起：带 dm_category_id 的 DM 也会返回对应 category 的 sort，使其与同 category 群进入同一排序桶。"
      follow_sort:
        type: integer
        description: "关注列表内排序权重（来自 user_conversation_ext.follow_sort）。Issue #41 起对所有 target_type（DM / 群 / 子区）均生效；通过 `PUT /v1/follow/sort` 写入，下一次 `/sidebar/sync` 将按提交的相对顺序返回同一 category 内的条目。"
      parent_channel_id:
        type: string
        description: "父群频道 ID（仅子区条目返回）"
      status:
        type: integer
        description: "子区生命周期状态，仅子区条目（target_type=5）返回，取值 1=active（活跃）/ 2=archived（已归档）。DM / 群条目不带该字段。子区条目若缺省该字段，表示状态未知，客户端应回退到 channelInfo（涵盖最近会话 tab 的 fail-open 情况，以及可能仍出现在最近会话 tab 中的已删除子区——已删除子区不会被标记，因此不会返回 status=3）。客户端据此同步过滤已归档子区，无需等待 channelInfo（GH octo-server#310）。"
  response:
    type: "object"
    properties:
      status:
        type: integer
      msg:
        type: string
